*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: rgb(255 105 0);
    font-size: 1rem;
}



.container{
    max-width: 1170px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.text-white{
    color: white;
}

.logo{
    width: 50%;
}

.header-menu{
    width: 25%;
}

nav div img{
    width: 20%;
}

header nav{
    text-align: center;
    padding: 1rem;
}